/* full */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gordita", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gordita", sans-serif;
}
.sticky-top {
  position: fixed;
  top: 0;
  background-color: #fcfcfc;
}

.contact-info {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.contact-info-text {
  color: #ff7c08;
  text-decoration: none;
  font-size: 0.8rem;
  margin-right: 1.5rem;
}

.img-contact {
  padding-right: 0.5rem;
  padding-bottom: 2px;
}

.social-media-info {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: end;
  justify-content: end;
}

.linkedin-logo {
  margin-right: 2rem;
}

#main-navbar {
  background-color: #081539;
}

#main-navbar li a {
  color: #ffffff;
}

#main-navbar ul li ul li a {
  color: black;
}

#navbarNavDropdown ul li {
  padding-left: 2.5rem;
}

.search-icon {
  padding-top: 2px;
  padding-left: 2.5rem;
}

/* hover yapmak için */
@media (min-width: 576px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

.bg-gradient-navbarcolor {
  background: linear-gradient(
    270deg,
    #091538 2.85%,
    #0c1f53 9.81%,
    #0c1f53 32.53%,
    #081539 45.04%,
    #081539 79.75%,
    #011a3e 100%
  );
}

#third-navbar .container .info p {
  color: #ff7c08;
  font-weight: 700;
  letter-spacing: 2.5px;
  font-size: 1rem;
  padding-top: 14px;
}

#third-navbar .third-navbar-right a {
  color: #fcfcfc;
}

#third-navbar .third-navbar-right ul li ul li a {
  color: black;
}

.home {
  background-image: url(./homebg.png);
  background-size: cover;
  /* width: 100vw; */
  height: 110vh;
  width: auto;
  background-position: center;
}

.yuvarlak-elips-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
}

.home-header {
  text-align: center;
  padding-top: 5rem;
  color: #fcfcfc;
  font-size: 3rem;
}

.home-header span {
  color: #ff9d46;
}
/* biz kimiz */
.who-are-we img {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.who-are-we h2 {
  text-align: center;
  padding-top: 8%;
  padding-bottom: 5%;
  margin-left: 20px;
  font-size: 2rem;
  font-weight: 700;
  color: #081539;
}

.who-are-we h3 {
  text-align: center;
}

.who-are-we p {
  text-align: center;
}

/* neden elips */

.why-elips .content .text {
  text-align: left;
}

.why-elips .content .text h1 {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}
.why-elips .content .text h2 {
  font-size: 1rem;
  color: #081539;
  font-weight: 600;
}

.why-elips .content .text h2 p {
  margin-top: 50px;
}

.why-elips .content .text h1 span {
  color: #f67b10;
}

.why-elips .content .text ul li {
  list-style: circle;
}

.why-elips .content {
  background-image: url(https://www.elips.com/Assets/img/theme/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.why-elips .row {
  margin-top: 100px;
}

/* .col {
    flex: 1 0 0%;
  } */

.btn-link {
  background-color: #ff7b07;
  color: #ffffff;
  padding: 20px 30px;
  max-width: 250px;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 70px;
}

.btn-link .btn-link-inside {
  display: contents;
  width: 100%;
}

.btn-link .btn-link-inside p {
  font-weight: 600;
  padding-top: 1rem;
}

.btn-link .btn-link-inside img {
  margin-left: auto;
}

.btn-link:hover {
  color: #ffffff;
}

/* numerical info */

.numerical-info .content {
  background-image: url(https://www.elips.com/Assets/img/theme/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.numerical-info .content .box {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px 20px;
  margin: 20px;
  z-index: 2;
}

.numerical-info .numerical-info-text h1 {
  text-align: center;
  padding-top: 4rem;
  font-weight: 700;
  padding-bottom: 4rem;
}

.numerical-info .content .box .info-box h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #081539;
  text-align: center;
  padding-bottom: 3rem;
  letter-spacing: 0.5px;
}

.numerical-info .content .box .info-box p {
  font-weight: 500;
  color: #081539;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 2;
}

.numerical-info .content .orange-box {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 0;
  top: -10px;
  background-color: #fc7b0a;
}

.numerical-info .content .blue-box {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  bottom: -10px;
  background-color: #0068fa;
}

.industries .content .text {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 2rem;
  color: #081539;
}

.industries .content .box {
  background-color: #f5f5f5;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  min-height: 135px;
}

.industries .content .box .box-content {
  text-align: center;
}

.industries .content .box a {
  text-decoration: none;
  color: #081539;
  font-weight: 500;
}

.industries .content .box img {
  display: block;
  margin: auto;
  padding-bottom: 10px;
}

/* partners */

.partners .content {
  background-image: url(https://www.elips.com/Assets/img/theme/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.partners .text {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.partners .text h1 {
  color: #081539;
  font-weight: 500;
  font-size: 2.5rem;
}

.partners .box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  border: 1px solid #f4f4f4;
  margin-bottom: 3rem;
  position: relative;
  padding: 3rem 0;
  max-height: 150px;
}

.partners .box .rectangle {
  position: absolute;
  top: 0;
  right: 0;
}

/* bootstrap preselectorlerini kullanma */
