/* full */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gordita", sans-serif;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Gordita", sans-serif;
}

.navbar-toggler {
  border: none !important;
}

.navbar-toggler:focus {
  box-shadow: none !important;
  outline: none !important;
  border: none !important;
}

.sticky-top {
  position: fixed;
  top: 0;
  background-color: #fcfcfc;
}

.sticky-top .contact-info {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.sticky-top .contact-info-text {
  color: #ff7c08;
  text-decoration: none;
  font-size: 0.8rem;
  margin-right: 1.5rem;
}

.sticky-top .contact-info-text .img-contact {
  padding-right: 0.5rem;
  padding-bottom: 2px;
}

.sticky-top .social-media-info {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: end;
  justify-content: end;
}

.sticky-top .social-media-info .linkedin-logo {
  margin-right: 2rem;
}

#main-navbar {
  background-color: #081539;
  padding-top: 0;
  padding-bottom: 0;
}

#main-navbar .main-navbar-elips {
  padding-bottom: 5px;
}

#main-navbar li a {
  color: #ffffff;
}

#navbarNavDropdown ul li {
  padding: 0 1rem;
}

#navbarNavDropdown .nav-link {
  padding-top: 1.2rem;
}

#main-navbar .dropdown-menu li a {
  color: black;
}

#main-navbar .dropdown-menu li:hover {
  background-color: #f67b10;
  width: 103%;
}

#main-navbar .dropdown-menu li a:hover {
  color: white;
  background-color: #f67b10;
}

#main-navbar .dropdown a:hover {
  color: #f67b10;
}

#main-navbar .contact-info-text {
  color: #ff7c08;
  text-decoration: none;
  font-size: 0.8rem;
  margin-right: 1.5rem;
}

.search-icon {
  padding-top: 1rem;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  border-left: 1px solid white;
  border-right: 1px solid white;
  height: 58px;
}

#main-navbar .hamburger-search {
  padding-top: 2px;
  text-decoration: none;
  padding-right: 1rem;
}

@media (max-width: 992px) {
  #navbarNavDropdown ul li {
    padding-left: 0;
  }
  .search-icon {
    padding-left: 0;
  }
}

/* hover yapmak için */
@media (min-width: 576px) {
  .dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
  }
}

#third-navbar .container .info p {
  color: #ff7c08;
  font-weight: 700;
  letter-spacing: 2.5px;
  font-size: 1rem;
  padding-top: 14px;
}

#third-navbar .third-navbar-right a {
  color: #fcfcfc;
}

#third-navbar .third-navbar-right ul li ul li a {
  color: black;
}

#third-navbar .dropdown a:hover {
  color: #f67b10;
}

#third-navbar .dropdown-menu li:hover {
  background-color: #f67b10;
  width: 103%;
}

#third-navbar .dropdown-menu li a:hover {
  color: white;
  background-color: #f67b10;
}

#third-navbar .blog-dropdown {
  padding-right: 0;
}

.bg-gradient-navbarcolor {
  background: linear-gradient(
    270deg,
    #091538 2.85%,
    #0c1f53 9.81%,
    #0c1f53 32.53%,
    #081539 45.04%,
    #081539 79.75%,
    #011a3e 100%
  );
}

.home {
  background-image: url(./homebg.png);
  background-size: cover;
  /* width: 100vw; */
  height: 81.5vh;
  width: auto;
  background-position: bottom;
}

@media (max-width: 768px) {
  .home {
    height: 92vh;
  }
}

.home .home-content .yuvarlak-elips-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
}

.home .home-content .home-header {
  text-align: center;
  padding-top: 3%;
  color: #fcfcfc;
  font-size: 3rem;
}

.home .home-content .home-header span {
  color: #ff9d46;
}

/* biz kimiz */

.who-are-we img {
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.who-are-we h2 {
  text-align: center;
  padding-top: 8%;
  padding-bottom: 5%;
  margin-left: 20px;
  font-size: 2rem;
  font-weight: 700;
  color: #081539;
}

.who-are-we h3 {
  text-align: center;
}

.who-are-we p {
  text-align: center;
}

/* neden elips */

.why-elips {
  margin-bottom: 4rem;
}

.why-elips .row {
  margin-top: 100px;
}

.why-elips .content {
  background-image: url(https://www.elips.com/Assets/img/theme/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.why-elips .content .text {
  text-align: left;
}

.why-elips .content .text h1 {
  text-align: left;
  font-size: 2rem;
  font-weight: 700;
}
.why-elips .content .text h2 {
  font-size: 1rem;
  color: #081539;
  font-weight: 600;
}

.why-elips .content .text h2 p {
  margin-top: 50px;
}

.why-elips .content .text h1 span {
  color: #f67b10;
}

.why-elips .content .text ul li {
  list-style: circle;
}

/* buttons */

.button-link {
  background-color: #ff7b07;
  color: #ffffff;
  padding: 20px 30px;
  max-width: 250px;
  text-decoration: none;
  display: flex;
  align-items: center;
  height: 70px;
}

.button-link .button-link-inside {
  display: contents;
  width: 100%;
}

.button-link .button-link-inside p {
  font-weight: 600;
  padding-top: 1rem;
}

.button-link .button-link-inside img {
  margin-left: auto;
}
/* servisler ve çözümler */

.services-solutions .solutions {
  background-image: url(https://www.elips.com/assets/img/cozumler/blue-bg.png);
  padding-left: 1rem;
  padding-right: 1rem;
}

.services-solutions .services {
  background-image: url(https://www.elips.com/assets/img/hizmetler/orange-bg.png);
  padding: 0 1rem;
}

.services-solutions .left-part {
  background-color: #ffffff;
}

.services-solutions .left-part a {
  display: flex;
  text-decoration: none;
}

.services-solutions .left-part p {
  padding-top: 1rem;
  padding-right: 1rem;
}

.services-solutions .left-row {
  padding: 1rem;
}

.services-solutions .right-image {
  position: absolute;
  bottom: -3rem;
  left: 4rem;
}

.services-solutions h2 {
  color: #081539;
  padding-top: 1.5rem;
  padding-left: 1rem;
  padding-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
}

@media (max-width: 991px) {
  .services-solutions h2 {
    text-align: center;
  }
}

.services-solutions #pills-tab {
  display: flex;
  justify-content: center;
}

.services-solutions .solutions ul li {
  list-style: circle;
}

.services-solutions .services ul li {
  list-style: circle;
}

.services-solutions .nav-link {
  color: gray;
  font-size: 1.5rem;
  font-weight: 500;
}

.services-solutions .nav-link:hover {
  color: gray;
}

.services-solutions .nav-pills .nav-link.active {
  background-color: #ffffff;
  color: #081539;
  border-radius: 0;
  border-bottom: 6px solid #fc7b0a;
}

/* numerical info */

.numerical-info .content {
  background-image: url(https://www.elips.com/Assets/img/theme/background.png);
  background-size: 100%;
  background-repeat: no-repeat;
}

.numerical-info .content .box {
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 100px 20px;
  margin: 20px;
  z-index: 2;
}

.numerical-info .numerical-info-text h1 {
  text-align: center;
  padding-top: 4rem;
  font-weight: 700;
  padding-bottom: 4rem;
}

.numerical-info .content .box .info-box h1 {
  font-size: 3rem;
  font-weight: 800;
  color: #081539;
  text-align: center;
  padding-bottom: 3rem;
  letter-spacing: 0.5px;
}

.numerical-info .content .box .info-box p {
  font-weight: 500;
  color: #081539;
  text-align: center;
  letter-spacing: 0.5px;
  line-height: 2;
}

.numerical-info .content .orange-box {
  position: absolute;
  width: 150px;
  height: 150px;
  right: 0;
  top: -10px;
  background-color: #fc7b0a;
}

.numerical-info .content .blue-box {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 0;
  bottom: -10px;
  background-color: #0068fa;
}

/* sektörler */

.industries .content .text {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-size: 2rem;
  color: #081539;
}

.industries .content .box {
  background-color: #f5f5f5;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1.5rem;
  min-height: 135px;
}

.industries .content .box .box-content {
  text-align: center;
}

.industries .content .box .box-content a {
  text-decoration: none;
  color: #081539;
  font-weight: 500;
}

.industries .content .box .box-content img {
  display: block;
  margin: auto;
  padding-bottom: 10px;
}

/* partners */

.partners .content {
  background-image: url(https://www.elips.com/Assets/img/theme/background.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.partners .text {
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.partners .text h1 {
  color: #081539;
  font-weight: 500;
  font-size: 2.5rem;
}

.partners .box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fcfcfc;
  border: 1px solid #f4f4f4;
  margin-bottom: 3rem;
  position: relative;
  padding: 3rem 0;
  max-height: 150px;
}

.partners .box .rectangle {
  position: absolute;
  top: 0;
  right: 0;
}

/* bootstrap preselectorlerini kullanma */

.first-footer .content {
  background-image: url(https://www.elips.com/assets/img/theme/footer-orange-background.png);
  background-color: #f67b10;
  padding-top: 3rem;
  padding-bottom: 3rem;
  margin-top: 3rem;
}

.first-footer .first-footer-text {
  color: #f4f4f4;
}

.first-footer .first-footer-text .whatsapp-footer {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
}

.first-footer .first-footer-text .whatsapp-footer p {
  padding-top: 15px;
  padding-left: 10px;
}

.first-footer .validations {
  margin-top: 2rem;
}

.first-footer .form-button-div {
  display: flex;
  justify-content: center;
  align-items: end;
}

.first-footer .form-button {
  background-color: #f4f4f4;
  color: #f67b10;
  border-radius: 10px;
  height: 2rem;
  margin-top: 4rem;
}

/* second footer */

.second-footer .content {
  background-color: #081539;
  padding-top: 3.5rem;
}

.second-footer .content ul {
  list-style: none;
  padding: 0;
}

.second-footer .content ul li a {
  text-align: left;
  text-decoration: none;
  color: #fdfdfd;
  font-size: 0.8rem;
}

.second-footer .content h3 {
  font-size: 1.2rem;
  font-weight: 700;
  color: #f5f5f5;
  line-height: 2.5rem;
}

.second-footer .content .elips-logo img {
  padding-bottom: 2rem;
}

.second-footer .content .elips-logo h3 {
  padding-bottom: 1.5rem;
  padding-top: 1rem;
}

.second-footer .content .address-info {
  display: flex;
  color: #f4f4f4;
}

.second-footer .content .address-info p {
  padding-left: 30px;
}

.second-footer .content .address-info img {
  margin-bottom: 40px;
}

@media (max-width: 768px) {
  .second-footer .content .address-info {
    text-align: left;
    padding-top: 1rem;
  }

  .second-footer .content .address-info p {
    text-align: left;
    padding-left: 0;
  }

  .second-footer .content .mail-and-phone p {
    text-align: left !important;
  }

  .second-footer .content .mail-and-phone .linkedin-wp {
    justify-content: left !important;
  }

  .second-footer .content .mail-and-phone a {
    padding-left: 0 !important;
    padding-right: 3rem;
    padding-bottom: 1rem;
  }
}

.second-footer .content .mail-and-phone a {
  text-decoration: none;
  color: #f5f5f5;
}

.second-footer .content .mail-and-phone p {
  text-align: end;
}

.second-footer .content .mail-and-phone .linkedin-wp {
  display: flex;
  justify-content: end;
}

.second-footer .content .mail-and-phone .linkedin-wp a {
  padding-left: 3rem;
}

/* third footer */

.third-footer .content {
  background-image: url(https://www.elips.com/assets/img/theme/footer-waves-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #081539;
  padding-top: 100px;
}

.third-footer .content .third-footer-header {
  text-align: center;
  color: #f4f4f4;
}

.third-footer .content .third-footer-header h5 {
  font-size: 1rem;
}

.third-footer .content .white-seperator {
  text-align: center;
}

.third-footer .content .third-footer-link {
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
}

.third-footer .content .third-footer-link a {
  text-decoration: none;
  color: #f4f4f4;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding-top: 1rem;
}

.third-footer .content .third-footer-link p {
  padding: 0 3rem;
}

.third-footer .content .third-footer-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.third-footer .content .third-footer-bottom p {
  color: #f4f4f4;
}

.third-footer .content .third-footer-bottom .viceration {
  display: flex;
  align-items: center;
  justify-content: center;
}

.third-footer .content .third-footer-bottom .viceration img {
  padding-bottom: 1rem;
  padding-left: 3rem;
  padding-right: 10px;
}
